<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.demo"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="19" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <!-- 1.自定义view，测试measure-layout过程 -->
        <activity 
            android:name="com.example.demo.customview.ActivityTest"
            android:label="@string/customview">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.example.demo.intent.category.ITEM" />
            </intent-filter>
        </activity>
        
        <!-- 2.三种Tab的例子 -->
        <activity 
            android:name="com.example.demo.tabexample.MainActivity"
            android:label="@string/tabexample" >
            <intent-filter >
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="com.example.demo.intent.category.ITEM"/>
            </intent-filter>
        </activity>
        <activity android:name="com.example.demo.tabexample.activitygroup.GroupActivity" />
        <activity android:name="com.example.demo.tabexample.activitygroup.GroupActivitySub1" />
        <activity android:name="com.example.demo.tabexample.activitygroup.GroupActivitySub2" />
        <activity android:name="com.example.demo.tabexample.activitygroup.GroupActivitySub3" />
        <activity android:name="com.example.demo.tabexample.tabhost.TabHostActivity" />
        <activity android:name="com.example.demo.tabexample.fragment.FragmentTabActivity" />
        
        <!-- 3.自定义style属性等 -->
        <activity 
            android:name="com.example.demo.customstyle.MainActivity"
            android:label="@string/customstyle">
            <intent-filter >
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="com.example.demo.intent.category.ITEM"/>
            </intent-filter>
        </activity>
        
        <!-- 4.butterknife使用 -->
        <activity 
            android:name="com.example.demo.butterknife.ButterknifeActivity"
            android:label="@string/butterknife">
            <intent-filter >
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="com.example.demo.intent.category.ITEM"/>
            </intent-filter>
        </activity>
    </application>

</manifest>
